services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gestion_stock
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3307:3306"

  server:
    build:
      context: ./server
    command: sh -c "./scripts/wait-for-it.sh db:3306 -- npx prisma migrate deploy && npm run start"
    environment:
      NODE_ENV: production
      DATABASE_URL: mysql://root:root@db:3306/gestion_stock
      PORT: 4000
    depends_on:
      - db
    ports:
      - "4000:4000"

  client:
    build:
      context: ./client
      args:
        NEXT_PUBLIC_API_URL: /api
    command: sh -c "npm run start -- -H 0.0.0.0 -p 3000"
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_API_URL: /api
    depends_on:
      - server
    ports:
      - "3000:3000"

volumes:
  db_data:
